@import '../../styles/colors';

.sign-in {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  min-width: 500px;
}

.sign-in__title {
  margin-bottom: 30px;
}

.error-msg {
  color: $red;
}

.row {}

.row_align-right {
  text-align: right;
}
