.logo {
  display: block;
  width: 156px;
  height: 37px;
  animation-duration: .6s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
}

.logo_positioning {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slide-in {
  from {
    opacity: .5;
    left: 0;
  }

  to {
    opacity: 1;
    left: calc(50% - 250px - 78px);
  }
}
