@import '../../styles/colors';

.sign-up {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  min-width: 500px;
}

.sign-up__title {
  margin-bottom: 30px;
}

.two-inputs-row {
  display: flex;
  justify-content: space-between;

  .input-wrapper {
    margin-right: 40px;
  }

  & > .input-wrapper:last-of-type {
    margin-right: 0;
  }
}

