@import 'styles/colors';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

img {
  display: block;
  border: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.25px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

a:link {color: $blue; text-decoration: none;}
a:visited {color: $blue; text-decoration: none;}
a:hover {color: $blue; text-decoration: underline;}
a:active {color: $blue; text-decoration: underline;}
